<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<section>
    <div class="container">
        <div class="col-md-8 offset-md-2">
            <h4 class="mb-3 text-center mt-4">Billing address</h4>
            <form id="checkout-form">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" name="firstName">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" name="lastName">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="username">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" class="form-control" name="username">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" name="email" placeholder="you@example.com">
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="address" placeholder="1234 Main St">
                </div>

                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" name="address2" placeholder="Apartment or suite">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="zip">Pin</label>
                    <input type="text" class="form-control" name="zip" placeholder="" >
                </div>
                <input type="text" name="userId" value="{{user._id}}" hidden>
                <hr class="mb-4">
                <h5>Total Amount Rs.{{total}}</h5>
                <h4 class="mb-3">Payment</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="cod" name="paymentMethod" type="radio" class="custom-control-input" value="COD" checked>
                        <label class="custom-control-label" for="credit">COD</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="online" name="paymentMethod" type="radio" class="custom-control-input" value="ONLINE">
                        <label class="custom-control-label" for="online">Pay Online</label>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block mb-4" type="submit">Continue to checkout</button>
            </form>
        </div>
    </div>
</section>


